# Symfony files
/app/bootstrap.php.cache
/app/cache/
/app/config/parameters.yml
/app/logs/
/web/bundles/
!/app/cache/.gitkeep
!/app/logs/.gitkeep

# Composer
/composer.phar
/vendor/
/bin/
/composer.lock

# Bower
/app/Resources/bower_components/

# IDE files
/.idea/

# Vagrant
/.vagrant/machines/
