{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <h1>Groups</h1>

    <div class="btn-group">
        <a class="btn btn-default btn-sm" href="{{ path('app_group_add') }}">
            Add new
        </a>
    </div>

    <table class="table table-striped table-hover table-bordered records_list">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tcontent>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-default btn-sm" href="{{ path('app_group_edit', {group: group.id}) }}">
                                Edit
                            </a>
                            <a class="btn btn-default btn-sm" href="{{ path('app_group_delete', {group: group.id}) }}">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tcontent>
    </table>
{% endblock %}
